.slider {
    width: 100% !important;
}

.pagination {
    bottom: 70px !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 105px;
    height: 6px;
    padding: 0px;
    margin: 0 2px !important;
    background: #ffffff;
    border: 0;
    opacity: 0.64;
    border-radius: 0;
    cursor: pointer;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:focus {
    outline: unset;
}

.swiper-pagination-bullet-active{
    background: #0362fb;
}

.swiper-container {
    padding: 0px !important;
}

@media screen and (max-width: 768px) {
    .pagination {
        padding-bottom: 16px;
    }

    .swiper-pagination-bullet {
        width: 32px;
        height: 4px;
    }
}

@media screen and (max-width: 425px) {
    .pagination {
        margin-bottom: -68px;

    }

    .swiper-pagination-bullet {
        width: 26px;
        height: 2.3px;
    }
}
