.slider {
  width: 100% !important;
}

.billboard-pagination {
  bottom: 50px !important;
  transform: translateX(-50%);
  z-index: 10;
}

.billboard-pagination > .swiper-pagination-bullet {
  width: 60px;
  height: 4px;
  border-radius: 0;
}

.billboard-pagination > .swiper-pagination-bullet:hover,
.billboard-pagination > .swiper-pagination-bullet:focus {
  outline: unset;
}

.swiper-container {
  overflow: inherit !important;
  padding: 0px !important;
}

@media screen and (max-width: 768px) {
  .billboard-pagination {
    bottom: 30px !important;
  }

  .billboard-pagination > .swiper-pagination-bullet {
    width: 60px;
    height: 4px;
  }
}

@media screen and (max-width: 425px) {
  .billboard-pagination > .pagination {
    margin-bottom: 5px;
  }

  .billboard-pagination > .swiper-pagination-bullet {
    width: 25px;
    height: 4px;
  }
}
