.swiper-container {
  padding: 0 1.3rem !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  height: 100% !important;
  width: 50px !important;
  top: 0 !important;
  margin-top: 0 !important;
  color: white !important;
}

.swiper-button-prev {
  background: linear-gradient(to left, transparent, #0F0F0F 90%, #0F0F0F 100%);
}

.swiper-button-next {
  background: linear-gradient(to right, transparent, #0F0F0F 90%, #0F0F0F 100%);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 18px !important;
  font-weight: bold;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -5px !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 65px !important;
}

@media screen and (max-width: 768px) {
  .swiper-button-next {
    right: 35px !important;
  }
}

.linear-gradient {
  width: 100px;
  position: absolute;
  right: 0;
  height: 100%;
}
