.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.video-js .vjs-big-play-button {
  position: absolute;
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  top: 0.5em
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
